body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

p {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 8px rgb(112, 112, 112);
    font-size: 33pt;
    text-align: center;
    margin: 35vh 10vw auto 10vw;
    z-index: 2;
}

a {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 8px white;
    font-size: 20pt;
    text-align: center;
    margin: 65vh 42vw auto 43vw;
    z-index: 2;
}

/* Tablet */
@media (max-width: 1024px) {
    p {
        font-size: 20pt;
        margin: 44vh 15vw auto 15vw;
    }
    
    a {
        font-size: 15pt;
        margin: 63vh 40vw auto 41vw;
    }
}

/* Mobile */
@media (max-width: 768px) {
    p {
        font-size: 9pt;
        margin: 46vh 10vw auto 10vw;
    }
    
    a {
        font-size: 8pt;
        margin: 62vh 33vw auto 38vw;
        text-shadow: 2px 2px 5px white;
    }
}

